@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif ;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 12px;
}

p, li, input, button, i {
    font-size: 12px;
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url("./images/top-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #fff;
}
.banner .header .logo h1 {
    color: rgb(0, 123, 255);
    font-size: 38px;
    user-select: none;
    font-weight: 400;
}
.banner .header nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.banner .header nav button {
    padding: 6px 10px;
    border-radius: 30px;
    border: 1px solid black;
    outline: none;
    background: transparent;
    font-weight: 500;
}
.banner .header nav button i {
    color: rgb(0, 123, 255);
    font-size: 17px;
}
.banner .header nav a {
    font-size: 14px;
    color: black;
    transition: .1s;
    font-weight: 500;
}
.banner .header nav a:hover {
    color: rgb(0, 123, 255);
}
.banner .banner-text-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.454);
}
.banner .banner-text-section .banner-text {
    position: relative;
    width: calc(100% - 5rem);
    margin: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.banner .banner-text-section .banner-text .bar {
    position: relative;
    width: 100%;
}
.banner .banner-text-section .banner-text h1 {
    color: white;
    font-size: 50px;
}
.banner .banner-text-section .banner-text form {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto 70px;
    grid-gap: .5rem;
    background: white;
    padding: 10px;
    border-radius: 15px;
}
.banner .banner-text-section .banner-text form .input {
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 7px;
}
.banner .banner-text-section .banner-text form .input i {
    font-size: 18px;
    padding-left: 5px;
}
.banner .banner-text-section .banner-text form .input input {
    border: none;
    width: 100%;
    outline: none;
    padding-left: 10px;
    cursor: pointer;
}
.banner .banner-text-section .banner-text form .input input::placeholder {
    font-size: 13px;
}
.banner .banner-text-section .banner-text form .banner-btn {
    font-weight: 500;
    color: #fff;
    background: rgb(42, 1, 42);
    border: none;
    outline: none;
    height: 40px;
    border-radius: 100px;
}

/* ------ SUGGESTIONS ------- */
.suggestions {
    position: relative;
    width: calc(100% - 5rem);
    margin: 3rem 2.5rem;
}
.suggestions h2 {
    font-weight: 500;
    padding: 10px 0;
}
.suggestions .destinations {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
}
.suggestions .destinations::-webkit-scrollbar {
    display: none;
}
.suggestions .destinations .destination {
    position: relative;
    width: 260px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 15px;
}
.suggestions .destinations .destination img {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.suggestions .destinations .destination div {
    position: absolute;
    bottom: 6px;
    height: 25%;
    width: 100%;
    background: white;
}
.suggestions .destinations .destination div p {
    font-weight: 500;
    padding: 10px;
    font-size: 15px;
}


/* -------- ACCOMODATION --------- */
.accomodation-section {
    position: relative;
    width: calc(100% - 5rem);
    margin: 3rem 2.5rem;
}
.accomodation-section h2 {
    font-weight: 500;
    font-size: 35px;
    padding: 10px 0;
}
.accomodation-section .accomodations {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
}
.accomodation-section .accomodations::-webkit-scrollbar {
    display: none;
}
.accomodation-section .accomodations .accomodation {
    position: relative;
    width: 270px;
    height: 210px;
    border-radius: 15px;
}
.accomodation-section .accomodations .accomodation img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.accomodation-section .accomodations .accomodation div {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.277);
    width: 100%;
    border-radius: 0 0 15px 15px;
}
.accomodation-section .accomodations .accomodation div p {
    color: white;
    font-weight: 600;
    font-size: 17px;
}


/* ---------- HOLIDAY HOME ------------ */
.holiday-home {
    position: relative;
    width: calc(100% - 5rem);
    height: 85vh;
    margin: 1rem 2.5rem;
    background-image: url("./images/holiday-home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.holiday-home .holiday-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.395);
    color: #fff;
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.holiday-home .holiday-content .holiday-text {
    width: 30%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}
.holiday-home .holiday-content .holiday-text h1 {
    font-size: 40px;
}
.holiday-home .holiday-content .holiday-text p {
    font-size: 14px;
}
.holiday-home .holiday-content .holiday-text button {
    font-size: 14px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 500;
    color: #fff;
    background: rgb(42, 1, 42);
    transition: .1s;
    cursor: pointer;
}
.holiday-home .holiday-content .holiday-text button:hover {
    background: rgb(92, 84, 92);
}

/* -------- GET INSPIRED --------- */
.get-inspired {
    position: relative;
    width: calc(100% - 5rem);
    margin: 3rem 2.5rem;
}
.get-inspired h2 {
    font-weight: 500;
    font-size: 35px;
    padding: 10px 0;
}
.get-inspired .inspirations {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
} 
.get-inspired .inspirations .upper {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    padding-bottom: 1rem;
}
.get-inspired .inspirations .lower {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    padding-bottom: 1rem;
}
.get-inspired .inspirations .inspiration {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .3rem;
}
.get-inspired .inspirations .upper .inspiration img,
.get-inspired .inspirations .lower .inspiration img {
    position: relative;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.get-inspired .inspirations .upper .inspiration img {
    height: 320px;
}
.get-inspired .inspirations .lower .inspiration img {
    height: 230px;
}
.get-inspired .inspirations .inspiration p {
    padding-top: .5rem;
    text-transform: uppercase;
}
.get-inspired .inspirations .inspiration h6 {
    font-size: 14px;
}


/* ------ BENEFITS --------- */
.benefits-section {
    position: relative;
    width: 100%;
    padding: 2rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 10px;
}
.benefits-section .benefit {
    position: relative;
    display: grid;
    grid-template-rows: 55px 30px 45px;
}
.benefits-section .benefit i {
    font-size: 40px;
}
.benefits-section .benefit h3 {
    font-size: 14px;
}



.advertise {
    position: relative;
    width: calc(100% - 5rem);
    height: 90vh;
    margin: 1rem 2.5rem;
    background-image: url("./images/advertise.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.advertise .advertise-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.395);
    color: #fff;
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.advertise .advertise-content .advertise-text {
    width: 30%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}
.advertise .advertise-content .advertise-text h1 {
    font-size: 30px;
}
.advertise .advertise-content .advertise-text p {
    font-size: 14px;
}
.advertise .advertise-content .advertise-text button {
    font-size: 14px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 500;
    color: #fff;
    background: rgb(42, 1, 42);
    transition: .1s;
    cursor: pointer;
}
.advertise .advertise-content .advertise-text button:hover {
    background: rgb(92, 84, 92);
}

/* ------ ABOUT SECTION ------ */
.about {
    position: relative;
    width: calc(100% - 5rem);
    margin: 2rem 2.5rem;
}
.about article {
    padding-top: 10px;
}
.about article h2 {
    padding: 1rem 0;
    font-size: 27px;
    font-weight: 500;
}
.about article p {
    font-size: 14px;
}


/* ------- FAQ ------- */
.faq-container {
    position: relative;
    width: calc(100% - 5rem);
    margin: 3rem 2.5rem;
}
.faq-container h2 {
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 15px;
    text-transform: capitalize;
}
.faq-container .faq-item {
    padding-bottom: 10px;
}
.faq-container .faq-item .faq-question {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    cursor: pointer;
}
.faq-container .faq-item .faq-question h3 {
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}
.faq-container .faq-item .faq-question i {
    font-size: 30px;
    cursor: pointer;
}
.faq-item .faq-answer {
    padding: 0 10px;
    font-size: 14px;
    display: none;
}